*~
/docs/src/a_hworld.md
/docs/build/
/docs/Manifest.toml
/docs/src/b_duffhb.md
/docs/src/c_jenkhb.md
/docs/src/d1_mdofgen_hystnl.md
/docs/src/d2_mdofgen_ahb.md
/docs/src/d3_mdofgen_epmc.md
/docs/src/d4_mdofgen_newmark.md
/docs/src/d_mdofgen_instnl.md
/docs/src/b1_duffhb.md
/docs/src/b2_jenkhb.md
/docs/src/c1_mdofgen_instnl.md
/docs/src/c2_mdofgen_hystnl.md
/docs/src/c3_mdofgen_ahb.md
/docs/src/c4_mdofgen_epmc.md
/docs/src/c5_mdofgen_newmark.md
