*~
/docs/src/a_hworld.md
/docs/build/
/docs/Manifest.toml
/docs/src/b_duffhb.md
/docs/src/c_jenkhb.md
/docs/src/d1_mdofgen_hystnl.md
/docs/src/d2_mdofgen_ahb.md
/docs/src/d3_mdofgen_epmc.md
/docs/src/d4_mdofgen_newmark.md
/docs/src/d_mdofgen_instnl.md
